@*Fixes css - js canvas issue*@
<section id="slider" class="clearfix hidden-sm hidden-xs" style="height: 100px; background: center center no-repeat; background-size: cover;">
    <div class="vertical-middle" style="position: absolute; top: 50%; width: 100%; padding-top: 0px; padding-bottom: 0px; margin-top: -63px;">
        <div class="container clearfix">
            <div class="clearfix center divcenter">
            </div>
        </div>
    </div>
</section>