@using System.Web.Optimization
@using Constants = TaxisBeat.Code.Constants
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@
@section ScriptsBottom
{
    @Scripts.Render("~/bundles/loginregister")
}
@Html.CachedPartial("Partials/Common/FixHeaderCanvas", null, Constants.CacheLg)
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="col_one_third nobottommargin">
                <div class="well well-lg nobottommargin">
                    @Html.Action("LoginIndex", "AuthSurface")
                </div>
            </div>
            <div class="col_two_third col_last nobottommargin">
                <h3>Don't have an Account? Register Now.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, vel odio non dicta provident sint ex autem mollitia dolorem illum repellat ipsum aliquid illo similique sapiente fugiat minus ratione.</p>
                @Html.Action("RegisterIndex", "AuthSurface")
            </div>
        </div>
    </div>
</section>
