@using UmbracoCmsTicketMania.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<section id="slider" class="clearfix hidden-sm hidden-xs" style="height: 200px; background: center center no-repeat; background-size: cover;">
    <div class="vertical-middle" style="position: absolute; top: 50%; width: 100%; padding-top: 0px; padding-bottom: 0px; margin-top: -63px;">
        <div class="container clearfix">
            <div class="clearfix center divcenter">
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row clearfix" id="js-form-container-partial">
                @Html.Partial("Various/ResetPassword", new ResetPasswordViewModel(Culture, UmbracoContext.Current.PageId ?? 0))
            </div>
        </div>
    </div>
</section>

